<% @status.each do |transport| %>
  <table style="width:100%">
    <tr>
      <th colspan='2'><%= transport.title %></th>
      <% transport.status.each do |status| %>
        <tr>
          <td><%= status.line %></td>
          <td><%= status.description %></td>
        </tr>
      <% end %>
    </tr>
  </table>
<% end %>
